.inter {
  font-family: "Inter", sans-serif;
}

.geist {
  font-family: "Geist", sans-serif;
}

.hover-nav:hover {
  background-color: #cff0dc;
  color: green;
  font-size: 19.5px;
  border-radius: 60px;
}

.hover-plant:hover {
  background-color: #ffffff;
  color: rgb(20, 160, 20);
  font-weight: bold;
  font-size: 16.4px;
}

@media (min-width: 800px) {
  .hover-plant:hover {
    background-color: #ffffff;
    color: rgb(20, 160, 20);
    font-weight: bold;
    font-size: 20px;
  }
}

.hover-drop:hover {
  background-color: #9fe099;
  color: rgb(20, 160, 20);
  font-weight: bold;
}

.left-nav {
  /*sizing*/
  padding: 8px 10px 8px 10px;
  /*text formatting*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .left-nav {
    font-size: 14px;
    padding: 6px 8px;
  }
}
.clickedNav{
  background-color:#15803d ;
  color:white;
}