body{
  font-family: "Inter", sans-serif;
}

.geist {
  font-family: "Geist", sans-serif;
}

.hover-nav:hover {
  background-color: #cff0dc;
  color: green;
  font-size: 19.5px;
  border-radius: 60px;
  transition-duration: 2s;
}

.hover-plant:hover {
  background-color: #ffffff;
  color: rgb(20, 160, 20);
  font-weight: bold;
  font-size: 16.4px;
  transition-duration: 2s;
}

@media (min-width: 800px) {
  .hover-plant:hover {
    background-color: #ffffff;
    color: rgb(20, 160, 20);
    font-weight: bold;
    font-size: 20px;
    transition-duration: 2s;
  }
}

.hover-drop:hover {
  background-color: #9fe099;
  color: rgb(20, 160, 20);
  font-weight: bold;
  transition-duration: 2s;
}

.left-nav {
  /*sizing*/
  padding: 8px 10px 8px 10px;
  /*text formatting*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .left-nav {
    font-size: 14px;
    padding: 6px 8px;
  }
}
.clickedNav{
  background-color:#15803d ;
  color:white;
}
.hover:hover{
  background-color: rgb(216, 216, 216);
  color:black;
  text-transform: capitalize;
  text-shadow: #cff0dc;
  font-weight: bolder;
  transition-duration: 2s;
}
.none{
  display:none;
}
.card-heading{
color:rgba(21, 128, 61, 1);
font-size: 50px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
.card-des{
  color:rgba(31, 41, 55, 1);
font-size: 25px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.co{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 5px;
padding:inherit;
}
.hidden{
  display:hidden;
}
.block{
  display: block;
}
*{
  scroll-behavior: smooth;
}