.inter {
  font-family: "Inter", sans-serif;
}

.geist {
  font-family: "Geist", sans-serif;
}

.hover-nav:hover {
  background-color: #cff0dc;
  color: green;
  font-size: 19.5px;
  border-radius: 60px;
}

.hover-plant:hover {
  background-color: #ffffff;
  color: rgb(20, 160, 20);
  font-weight: bold;
  font-size: 16.4px;
}

@media (min-width: 1024px) {
  .hover-plant:hover {
    background-color: #ffffff;
    color: rgb(20, 160, 20);
    font-weight: bold;
    font-size: 20px;
  }
}

.hover-drop:hover{
  background-color: #9fe099;
  color: rgb(20, 160, 20);
  font-weight: bold;
}